<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <h1>UF Directory App</h1>
      </div>
      <div class="row" ng-controller="ListingsController as listings">
        <div class="col-md-6">
          <div class="input-group" id="searchBar">
            <!-- 

                Implement a way to filter through listings using the search bar 

              -->
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" ng-model="searchText" class="form-control" placeholder="Search">
          </div>
          <div class="tableWrapper">
            <table class="table table-striped table-hover">
              <tr>
                <th>Code</th>
                <th>Building Name</th>
                <th></th>
              </tr>
              <!-- 

                  Fill in the rest of the table:
                      * populate the rows with the code and name of each listing
                      * include a way to remove individual listings
                -->
                <tr ng-repeat='listing in listings| filter:searchText track by $index' ng-mouseover="hoverIn($index)" ng-mouseleave="hoverOut()"  >
                  <td >{{listing['code']}}</td>
                  <td>{{listing.name}}</td>
                  <td >
                    <button ng-show="hoverEdit" ng-click='deleteListing($index)'><span class='glyphicon glyphicon-trash'></span></button>
                  </td>
                </tr> 
            </table>
          </div>
          <!-- 

              Write an HTML form that adds new listings to the directory 

            -->
          <div>
            <h2>Submit Listing</h2>
            <form role='form' ng-submit="addListing()">
              <div class="form-group">
                  <label class="control-label col-sm-2" for="email">Name: </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter Buidling Name" name="name" 
                      ng-model="listings.listingName">
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-2" for="email">Code: </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter Buidling Code" name="code" ng-model="listings.listingCode">
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-2" for="email">Address: </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter Buidling Addres" name="address" ng-model="listings.listingAddress">
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-2" for="email">Latitude: </label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" placeholder="Enter Buidling Latitude" name="latitude" ng-model="listings.listingLatitude">
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-2" for="email">Longitude: </label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" placeholder="Enter Buidling Longitude" name="longitude" ng-model="listings.listingLongitude">
                  </div>
              </div>
              <div class="form-group">        
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Submit</button>
                </div>
              </div>
              <!--
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Code: </label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Address: </label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                    </div>
                  </div>
                </div>
              </div>
              -->

            </form>
          </div>

        </div>
        <div class="col-md-6">
          <div class="jumbotron">
            <h2>Detailed Information</h2>
            <!-- 

              Include a way to display detailed information about an individual listing:
                   * consider how to use ng-click within the the table to implement this feature

             -->
             <div >
               <h4> Code: {{currentListing['code']}}</h4>
               <h4> Name: {{currentListing['name']}}</h4>
               <h4> Coordinates: LAT({{currentListing['coordinates']['latitude']}}), LNG({{currentListing['coordinates']['longitude']}})</h4>
               <h4> Address: {{currentListing['address']}}</h4>
             </div>
            
          </div>
          
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>